.app-download {
  margin-top: 20px;
}

.mv-down {
  margin-bottom: 20px;
}

.icon-space {
  margin-right: 10px;
}
.settings-link li {
  margin-bottom: 10px;
}

.progress small {
  margin-left: 10px;
}

.cardpad {
  margin-bottom: 12px;
}
